body {
  background-color: #f4f4f9;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
}


/* Grid de Usuários */
.users-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 50%;
}

@media (max-width: 600px){
  .row {
    flex-direction: column;
  }
}
